.customer-container{
    display: grid;
    grid-template:  "navbar navbar" 10%
                    "profile content" 80%
                    "footer footer" 10%;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.navBar-container{
    background-color: lightgray;
    border: 1px solid black;
    grid-row: navbar / navbar;
    grid-column: 1 / 3;
}
.cusomer-profile-container{
    background-color: lightblue;
    border: 1px solid black;
    grid-row: profile / profile;
    grid-column: profile / profile;
}
.content-container{
    background-color: lightgreen;
    border: 1px solid black;
    grid-row: content / content;
    grid-column: content / content;
}
.footer-container{
    background-color: lightgray;
    border: 1px solid black;
    grid-row: footer / footer;
    grid-column: 1 / 3;
}